-- AlterTable
ALTER TABLE "OutboundEmail" ADD COLUMN     "fromEmail" TEXT,
ADD COLUMN     "submissionId" TEXT,
ADD COLUMN     "toName" TEXT,
ALTER COLUMN "status" SET DEFAULT 'sent';

-- CreateIndex
CREATE INDEX "OutboundEmail_submissionId_createdAt_idx" ON "OutboundEmail"("submissionId", "createdAt");

-- AddForeignKey
ALTER TABLE "OutboundEmail" ADD CONSTRAINT "OutboundEmail_submissionId_fkey" FOREIGN KEY ("submissionId") REFERENCES "ContactSubmission"("id") ON DELETE SET NULL ON UPDATE CASCADE;

