{% macro pic_path(pic) %}
	{{ url_for('flaskgur.return_pic', filename='%s' % pic) }}
{% endmacro %}

{% extends "flaskgur/base.html" %}
{% block title %}
Image Play
{% endblock %}
{% block content %}
	{% if filename is defined %}
		
		<div id="image"><a href="{{ pic_path(filename) }}" target="_blank"><img class="new" src="{{ pic_path(filename) }}"></a></div>
	{% else %}
		<ul>
		{% for pic in pics %}
			<li class="thumb"><a href="{{ url_for('flaskgur.show_pic', filename=pic) }}"><img class="thumb" src="{{ pic_path('thumb_'+pic) }}"></a></li>
			
			<div class="dropdown show">
			<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dropdown
			</a>

			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href= "{{ url_for('flaskgur.face', filename=pic) }}">Face Detector</a>
				<a class="dropdown-item" href= "{{ url_for('flaskgur.age', filename=pic) }}">Age Detector</a>
				<a class="dropdown-item" href= "{{ url_for('flaskgur.quadart', filename=pic) }}">Quadify</a>
				<a class="dropdown-item" href= "{{ url_for('flaskgur.lined', filename=pic) }}">Sketched</a>
				<a class="dropdown-item" href= "{{ url_for('flaskgur.vint', filename=pic) }}">Vintage</a>
				<a class="dropdown-item" href= "{{ url_for('flaskgur.sep', filename=pic) }}">Sepic</a>
				<a class="dropdown-item" href= "{{ url_for('flaskgur.embo', filename=pic) }}">Metal Engraving</a>
				<a class="dropdown-item" href= "{{ url_for('flaskgur.sharp', filename=pic) }}">Sharpen</a>
				<a class="dropdown-item" href= "{{ url_for('flaskgur.enhan', filename=pic) }}">Enhance</a>
				<a class="dropdown-item" href= "{{ url_for('flaskgur.blur', filename=pic) }}">Blur</a>
				<a class="dropdown-item" href= "{{ url_for('flaskgur.remove', filename=pic) }}">Delete</a>
			</div>
			</div>
			

		{% endfor %}

		</ul>
	{% endif %}		    
{% endblock %}