{% extends "faceswap/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
      <h1>FaceSwap</h1>
      <h4>{{ warning }}</h4>
      <p>(works for people faces only at the moment)</p>
  </div>
  {% if thumbnail_names %}
    <div class="row">
      {% for thumbnail_name in thumbnail_names %}
              <div class="column">
                <a href="{{url_for('faceswap.display_image', filename=thumbnail_name)}}">
                <img src="{{url_for('faceswap.thumbnails', filename=thumbnail_name)}}" class="img-responsive" style="width:100%">
                </a>
              </div>


      {% endfor %}
      <a href="{{url_for('faceswap.swapface')}}">
      <button class="button button1">Swap Faces</button>
      </a>
      <a href="{{url_for('faceswap.newswap')}}">
        <button class="button button2">New Swap</button>
        </a>
    </div>
  {% endif %}
</div>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://projectmatt-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//projectmatt-1.disqus.com/count.js" async></script>
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='gallery.css')}}">
{% endblock %}