{% extends "faceswap/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
      <h2>FaceSwap</h2>
      <h3>{{ warning }}</h3>
      <form action="{{ url_for('faceswap.upload') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="images">File input</label>
          <input type="file" id="images" name="images" accept="image/*" multiple>
          <p class="help-block">Select two images to swap.</p>
          <input type="submit" value="Upload" class="btn btn-success">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </div>
      </form>
    </div>
</div>
{% endblock %}