<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173468417-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-173468417-1');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Become A Cartoon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <style>
        html {
        box-sizing: border-box;
        }
        *, *:before, *:after {
        box-sizing: inherit;
        }
        body{
            background-color: whitesmoke;
        }

        iframe[src*=youtube] {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                    padding-bottom: 10px;
                }
    </style>
</head>

<body>
        <div id="loader" class="ui disabled dimmer">
                <div class="ui text loader">Preparing your cartoon :)</div>
              </div>


<div class='ui padded centered grid'>
    <!-- Messaging system -->
    <div class="row">
        <div class="center aligned column">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div style="height:10%; display:flex; align-items: center; justify-content: center">
                        {% for category, message in messages %}
                            {% if category == error%}
                                <h3 style="color:red">{{ message }}</h3>
                            {% else %}
                                <h3 style="color:green">{{ message }}</h3>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    

    <!-- Heading of the page -->
    <div class="row">
        <div class='center aligned column'>
            <h1>Make yourself into a cartoon!</h1>
            <p>currently working on making it appliciable to video</p>
        </div>
    </div>
    
    <!-- Submission form -->
    <div class="row">
        <div class='center aligned column'>
            <form id='formsubmit' method="post" action="cartoonize" enctype = "multipart/form-data">
    
                <div class="ui buttons">
                    <div id='uploadimage' class="ui button" style="align-items: center;">
                        <i class="image icon"></i>
                        Image
                    </div>
                    <!-- <div class="or"></div>
                    <div id='uploadvideo' class="ui button" style="align-items: center;">
                        <i class="video icon"></i>
                        Video
                        <span style="font-size: 10px;">(Max 30MB)</span>
                    </div> -->
                </div>
        
                <input type='file' id='hiddeninputfile' accept="image/*" name = 'image' style="display: none"/>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="file" id="hiddeninputvideo" accept="video/*" name = 'video' style="display: none">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <!-- <input id='submitbutton' class='ui button' type='submit'/> -->
            </form>
        </div>
    </div>
    {%if cartoonized_image or cartoonized_video%}
    <div class="row">
        <div class="column">
            <!-- Nested grid -->
            <div class="ui centered grid">
                <div class="row">
                    <div class="center aligned column">
                        {%if cartoonized_image%}
                        <div class="ui centered card">
                            <div class="image">
                                <a href="{{url_for('cartoonize.display_image', filename=cartoonized_image)}}">
                                <img src="{{url_for('cartoonize.images', filename=cartoonized_image)}}" class="img-responsive" style="width:100%">
                                </a>
                              </div>
                        </div>
                        {%endif%}
                    
                        {%if cartoonized_video%}
                            <video id="player" width="320" height="240" controls>
                                <source type="video/mp4" src="{{cartoonized_video}}">
                            </video>
                        {%endif%}
                    </div>
                </div>
                <div class="row">
                    {%if cartoonized_video%}
                        <a href={{cartoonized_video}} download>
                            
                            <button class="ui primary button">
                                <i class="download icon"></i>
                                Download
                            </button>
                        </a>
                    {%endif%}
                    {%if cartoonized_image%}
                        <a href="{{url_for('cartoonize.display_image', filename=cartoonized_image)}}" download>
                            <button class="ui primary button">
                                <i class="download icon"></i>
                                Download
                            </button><br>
                            (Valid for 5 minutes only)
                        </a>
                    {%endif%}
                    
                </div>
                <div class="row">
                    <div class="ui stackable three column grid"> 
                        <div class="three column row">
                            <div class="center aligned column">
                                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check your cartoonized version using the link below!" data-url="https://bit.ly/2CjaaJs" data-hashtags="cartoon" data-show-count="false" data-size="large">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                    
                            <div class="center aligned column">
                                <a href="https://api.whatsapp.com/send?text=Try%20this%20awesome%20AI%20cartoonizer%20using%20-%20https%3A%2F%2Fbit.ly%2F2CjaaJs" target="_blank">
                                    <button class="mini ui green button">
                                        <i class="whatsapp icon"></i>Share
                                    </button>
                                </a>
                            </div>
                            <div class="center aligned column"">
                                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fbit.ly%2F2CjaaJs&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
    {%endif%}

    <div class="ui divider"></div>
    <!-- Sample Images -->
    <div class="row">
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/bv1.jpg">
        </div>
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/v1.jpg">
        </div>
    </div>
    <div class="row">
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/bv3.jpeg">
        </div>
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/v3.jpeg">
        </div>
    </div>
    <div class="row">
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/bv2.jpg">
        </div>
        <div class="five wide column">
            <img class="ui medium centered image" src="/static/sample_images/v2.jpg">
        </div>
    </div>
   

    <div class="row">
        <div class="column" style="padding-right: 25px; padding-left: 25px;">
            <div class="ui centered styled accordion" style="margin:auto;">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Which paper is this demo based on?
                    </div>
                    <div class="content">
                        <p class="transition hidden">Credit goes to the following paper - <a target="_blank" href="http://openaccess.thecvf.com/content_CVPR_2020/papers/Wang_Learning_to_Cartoonize_Using_White-Box_Cartoon_Representations_CVPR_2020_paper.pdf">Learning to Cartoonize Using White-box Cartoon Representations</a>
                        <p>Implementation of the paper by the author - <a target="_blank" href="https://github.com/SystemErrorWang/White-box-Cartoonization">Github Link</a></p>
                    </div>

                    <div class="title">
                        <i class="dropdown icon"></i>
                        What are the limits to this program?
                    </div>
                    <div class="content">
                        <ul class="ui list">
                            <!-- <li>Video File Size Limitation: <b>30MB</b></li> -->
                            <li>Image File Formats Supported: <b>jpeg, png</b></li>
                            <!-- <li>Video File Formats Supported: <b>mp4, webm, avi, mkv</b></li> -->
                        </ul>
                    </div>
                    
                    <div class="title">
                        <i class="dropdown icon"></i>
                        What happens to my info?
                    </div>
                    <div class="content">
                        Your data is deleted as you run the demo.
                    </div>
                    

                    <div class="title">
                        <i class="dropdown icon"></i>
                        If you want to know more about using machine learning to process images.
                    </div>
                    <div class="content">
                        <ul class="ui list">
                            <li>CartoonGAN
                                <ul>
                                    <li><a target="_blank" href="https://openaccess.thecvf.com/content_cvpr_2018/papers/Chen_CartoonGAN_Generative_Adversarial_CVPR_2018_paper.pdf">Paper</a></li>
                                    <li><a target="_blank" href="https://github.com/mnicnc404/CartoonGan-tensorflow">Github Link</a></li>
                                </ul>
                            </li>
                            <li>AnimeGAN
                                <ul>
                                    <li><a target="_blank" href="https://link.springer.com/chapter/10.1007/978-981-15-5577-0_18">Paper</a></li>
                                    <li><a target="_blank" href="https://github.com/TachibanaYoshino/AnimeGAN">Github Link</a></li>
                                </ul>
                            </li>   
                        </ul>
                    </div>
                   
                    
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Help me pay the bills?
                    </div>
                    <div class="content">
                        If you liked the demo and want to support me, donate - <a href="https://paypal.me/mattmait?locale.x=en_US">Paypal Link</a>
                    </div>
                   

            </div>
        </div>
    </div>

        
    </div>
 
    
</div>


<script>
    $('.ui.accordion')
  .accordion()
;
    $("#uploadimage").on("click", function() {
        $('#hiddeninputfile').click(); 
    });

    $("#uploadvideo").on("click", function() {
        $('#hiddeninputvideo').click(); 
    });

    document.getElementById("hiddeninputfile").onchange = function() {
        $('#loader').removeClass('disabled').addClass('active');
        document.getElementById("formsubmit").submit();
        
    };
    document.getElementById("hiddeninputvideo").onchange = function() {
        const fi = document.getElementById('hiddeninputvideo'); 
        // Check if any file is selected. 
        if (fi.files.length > 0) { 
            for (const i = 0; i <= fi.files.length - 1; i++) { 
  
                const fsize = fi.files.item(i).size; 
                const file = Math.round((fsize / 1024)); 
                // The size of the file.
                //Change the max_file_size as per your need 
                const max_file_size = 30720;
                if (file >= max_file_size) { 
                    alert( 
                      "File too Big, please select a file less than 30mb (10 sec at 1080p or 5 sec at 4k)"); 
                } else { 
                    $('#loader').removeClass('disabled').addClass('active');
                    document.getElementById("formsubmit").submit();
                } 
            } 
        } 
        
        
    };
    var recorder = document.getElementById('recorder');
</script> 
</body>
</html>
